<div class="container margin">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="page-header">
      <h2 id="top">Post a new drink in Mister Cocktail</h2>
      </div>
    </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <%= render 'form', cocktail: @cocktail %>
    <%= link_to 'Back', cocktails_path, class: 'btn btn-default'%>
    </div>
  </div>
</div>
