<div class="banner">
  <div class="banner-content">
    <h1>Mister Cocktail</h1>
    <p>Hey there, are we thirsty today?</p>
    <a class="btn btn-default btn-lg" href="#top">SHOTS SHOTS SHOTS</a>
  </div>
</div>
