<div class="banner" style="background-image: linear-gradient(-225deg, rgba(241,231,103,0.3) 0%, rgba(254,182,69,1) 100%), url(<%= asset_path 'ladies.jpg' %>);">
  <div class="banner-content">
    <h1>Hey mister</h1>
    <p>are we thirsty today?</p>
    <a class="btn btn-default btn-lg" href="#top">SHOTS SHOTS SHOTS !</a>
  </div>
</div>
