<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @dose.description %>
</p>

<%= link_to 'Edit', edit_cocktail_dose(@cocktail) %> |
<%= link_to 'Back', cocktail_doses_path %>
